    <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between fixed-top">
        <a class="navbar-brand" href="/">Imgur Search</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="nav-collapse">
            <ul class="navbar-nav mr-auto">
            </ul>
            <form class="form-inline my-2 my-lg-0" id="nav-collapse">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="name" id="search">
            </form>
        </div>
    </nav>

