    <% data.forEach(function(img) {%>
            <div class="grid-item" draggable="false">
                <a href="<%= img.contentUrl %>" draggable="false">
                    <img draggable="true" data-src="<%= img.thumbnailUrl %>" width="<%=img.thumbnail.width%>" height="<%=img.thumbnail.height%>">
                </a>
    	    </div>
    
    <%
    });%>
    <script src="/js/jquery.lazyloadxt.js"></script>

    