body {
    background: #E0EAFC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(left, #CFDEF3, #E0EAFC);
    background: -moz-linear-gradient(left, #CFDEF3, #E0EAFC);
    background: -o-linear-gradient(left, #CFDEF3, #E0EAFC);
    background: linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.grid-item {
    margin: 10px 0;
}
.grid-item img {
    background: url(/img/loading.gif) 50% no-repeat;
}

.grid-item img:hover {
	box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

